@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

.custom-phone-input input {
    background-color: #2d3748;
    border: 1px solid #4a5568; /* gray-600 */
    border-radius: 0.375rem; /* rounded-lg */
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
  
  .custom-phone-input input:focus {
    border-color: #3182ce; /* blue-500 */
    outline: none;
  }